

img{
  height: 80px;
  width: 100px;
  margin-left: 90%;
}
h1{
  margin-left: 94%; 

}


.btn{
  margin: 20px;
}

.image{
  height: 140px;
  width: 180px;
 position: absolute;
 margin-right: 90%;
margin-top: -70px;
 
}
